  .sw-js-single-item-container .col-lg-8 > .d-flex {
    flex-direction: column !important;
  }
  .sw-js-single-item-container .col-lg-8 > .d-flex > .magnific-popup {
    width: 100% !important;
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: 56%;
    position: relative;
    margin-bottom: 32px;
  }
  .sw-js-single-item-container .col-lg-8 > .d-flex > .magnific-popup > [data-type="staticImage"] {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    margin-right: 0 !important;
  }