body, *:not(.fab, .far), .sw-font-family-jost{
    font-family: proxima-nova,'Helvetica Neue',Helvetica,Arial,sans-serif !important;
}

nav .navbar-brand img {
    width: auto !important;
    height: 23px;
}

nav .nav-item a {
    font-weight: 700 !important;
    font-size: 15px !important;
    line-height: 18px !important;
    color: #2C2A50 !important;
}

.js-list-item {
    border-radius: 34px !important;
    background-color: #F7F8FF !important;
    box-shadow: 0px 6px 0px rgba(45, 64, 150, 0.06) !important;
    transition: box-shadow 0.2s ease-in-out;
    border: 0px !important;
}

.js-list-item:hover {
    box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.2) !important;
}

.js-list-item > div {
    padding: 18px !important;
}

.js-list-item .image {
    padding: 0px !important;
    border-radius: 24px !important;
}

.js-list-item .sw-pre-heading1-container, .js-list-item .sw-pre-button-container {
    height: unset !important;
}

.js-list-item .sw-pre-heading1-container h1 {
    font-weight: 800 !important;
    font-size: 24px !important;
    line-height: 30px !important;
    letter-spacing: -0.25px !important;
    color: #2C2A50 !important;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    margin-bottom: 12px !important;
}

.js-list-item h3[data-mappedto="Category"]::before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3333 9.9707C18.3333 10.0293 18.304 10.0586 18.304 10.0879C18.3203 11.276 17.2396 12.054 16.0514 12.054H12.8646C12.002 12.054 11.3021 12.7832 11.3021 13.6458C11.3021 13.7565 11.3151 13.8639 11.3346 13.9681C11.4063 14.3001 11.5462 14.5931 11.6895 14.9414C11.8848 15.3906 12.0833 15.8366 12.0833 16.3086C12.0833 17.347 11.3802 18.2845 10.3451 18.3268C10.2311 18.3301 10.1139 18.3333 10 18.3333C5.39714 18.3333 1.66667 14.6029 1.66667 10C1.66667 5.39714 5.39714 1.66667 10 1.66667C14.6029 1.66667 18.3333 5.39714 18.3333 10V9.9707ZM4.79167 9.9707C4.21648 9.9707 3.75001 10.4655 3.75001 11.0124C3.75001 11.6178 4.21648 12.054 4.79167 12.054C5.36784 12.054 5.83334 11.6178 5.83334 11.0124C5.83334 10.4655 5.36784 9.9707 4.79167 9.9707ZM5.83334 7.88737C6.40951 7.88737 6.875 7.45117 6.875 6.8457C6.875 6.29883 6.40951 5.80404 5.83334 5.80404C5.25717 5.80404 4.79167 6.29883 4.79167 6.8457C4.79167 7.45117 5.25717 7.88737 5.83334 7.88737ZM10 3.7207C9.42383 3.7207 8.95834 4.21647 8.95834 4.76237C8.95834 5.36784 9.42383 5.80404 10 5.80404C10.5762 5.80404 11.0417 5.36784 11.0417 4.76237C11.0417 4.21647 10.5762 3.7207 10 3.7207ZM14.1667 7.88737C14.7428 7.88737 15.2083 7.45117 15.2083 6.8457C15.2083 6.29883 14.7428 5.80404 14.1667 5.80404C13.5905 5.80404 13.125 6.29883 13.125 6.8457C13.125 7.45117 13.5905 7.88737 14.1667 7.88737Z' fill='%2300B2F7'/%3E%3C/svg%3E%0A");
    margin-right: 3px;
}
.js-list-item h3[data-mappedto="Category"] {
    color: #7174A0 !important;
    text-transform: uppercase;
    font-size: 12px !important;
    line-height: 14px !important;
    font-weight: 700 !important;
    letter-spacing: 0.5px !important;
    display: flex;
    align-items: center;
}

.js-list-item div[data-mappedTo="Date and Time"], .js-list-item div[data-mappedto="Week Day"] {
    color: #7174A0 !important;
    font-size: 18px !important;
    line-height: 22px !important;
    font-weight: 600 !important;
    letter-spacing: -0.25px !important;
}

.js-list-item div[data-mappedto="Week Day"]:after {
    content: ',';
    margin-left: -4px;
}

.js-list-item div[data-mappedto="Name (from Teacher)"] {
    color: #7174A0 !important;
    font-size: 18px !important;
    line-height: 22px !important;
    font-weight: 700 !important;
}

.js-list-item .text * {
    padding: 0px !important;
}

.js-list-item .sw-pre-text-container {
    display: inline-block;
    height: unset !important;
}

.js-list-item .sw-pre-text-container:last-of-type {
    display: block;
}

#list4 .js-list-item .sw-pre-button-container a.js-list-item-button {
    height: 100%;
    width: 100%;
    position: absolute !important;
    top: 0;
    left: 0;
    opacity: 0;
}

/* Inputs */
.search-parent input, .search-parent .dropdown, .mobile-dropdown-filter .dropdown {
    border-radius: 18px !important;
    border: 2px solid #7174A0 !important;
    font-size: 18px !important;
    line-height: 22px !important;
    letter-spacing: -0.25px;
    font-weight: 600;
    height: 60px !important;
    color: #7174A0 !important;
    transition: border-color 0.2s ease-in-out;
}


.search-parent input:focus, .search-parent input:active {
    border-color: #00B2F7 !important;
}

#list4 input.sw-js-list-search-input {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 6C7.79086 6 6 7.79086 6 10C6 12.2091 7.79086 14 10 14C12.2091 14 14 12.2091 14 10C14 7.79086 12.2091 6 10 6ZM3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10Z' fill='%232C2A50'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.1933 14.1929C14.5838 13.8024 15.217 13.8024 15.6075 14.1929L20.0075 18.5929C20.398 18.9834 20.398 19.6166 20.0075 20.0071C19.617 20.3977 18.9838 20.3977 18.5933 20.0071L14.1933 15.6071C13.8028 15.2166 13.8028 14.5834 14.1933 14.1929Z' fill='%232C2A50'/%3E%3Cpath d='M15.3067 17.8355C14.9162 17.445 14.9162 16.8118 15.3067 16.4213L16.4381 15.2899C16.8286 14.8994 17.4618 14.8994 17.8523 15.2899L21.7414 19.179C22.1319 19.5696 22.1319 20.2027 21.7414 20.5932L20.61 21.7246C20.2195 22.1151 19.5863 22.1151 19.1958 21.7246L15.3067 17.8355Z' fill='%232C2A50'/%3E%3C/svg%3E%0A");
}

/* Header overrides */
header#hero2 {
    padding-top: 25px !important;
    padding-bottom: 21px !important;
}

header#hero2 .container .row {
    text-align: center;
    justify-content: center;
    flex-direction: row!important;
}

header#hero2 .container .row > * {
    flex: none !important;
    max-width: unset !important;
    display: inline-block !important;
    width: auto !important;
    padding-top: 0px!important;
    padding-bottom: 0px !important;
}

header#hero2 .container .row > div img {
    width: 108px !important;
    height: 116.96px;
}

header#hero2 .container .row > div h1 {
    font-size: 30px !important;
    line-height: 36px !important;
    letter-spacing: -0.35px !important;
    color: #2C2A50 !important;
    font-weight: 800 !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

header#hero2 .container .row > div p {
    color: #858490 !important;
    font-weight: 600 !important;
    font-size: 22px !important;
    line-height: 36px !important;
    letter-spacing: -0.35px !important;
    margin-top: 6px;
    margin-bottom: 0;
}

#hero2 > .container > .row.text-center.pt-5 { padding-top: 17px !important; }

@media screen and (max-width: 992px) {
    header#hero2 .container .row > div h1 {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 12px !important;
    }
}

/* Icons */
.js-list-item .sw-pre-heading3-container {
    height: unset !important;
}

.js-list-item .sw-pre-heading3-container h3[data-mappedto="Category"] {
    margin-bottom: 6px;
}

.js-list-item h3[data-mappedto="Category"]::before {
    background-size: 20px;
}

.js-list-item h3[data-mappedto="Category"][data-value="Arts"]::before {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.9102 11.9648C22.9102 12.0352 22.875 12.0703 22.875 12.1055C22.8945 13.5313 21.5977 14.4648 20.1719 14.4648H16.3477C15.3125 14.4648 14.4727 15.3398 14.4727 16.375C14.4727 16.5078 14.4883 16.6367 14.5117 16.7617C14.5977 17.1602 14.7656 17.5117 14.9375 17.9297C15.1719 18.4687 15.4102 19.0039 15.4102 19.5703C15.4102 20.8164 14.5664 21.9414 13.3242 21.9922C13.1875 21.9961 13.0469 22 12.9102 22C7.38672 22 2.91016 17.5234 2.91016 12C2.91016 6.47656 7.38672 2 12.9102 2C18.4336 2 22.9102 6.47656 22.9102 12V11.9648ZM6.66016 11.9648C5.96992 11.9648 5.41016 12.5586 5.41016 13.2148C5.41016 13.9414 5.96992 14.4648 6.66016 14.4648C7.35156 14.4648 7.91016 13.9414 7.91016 13.2148C7.91016 12.5586 7.35156 11.9648 6.66016 11.9648ZM7.91016 9.46484C8.60156 9.46484 9.16016 8.94141 9.16016 8.21484C9.16016 7.55859 8.60156 6.96484 7.91016 6.96484C7.21875 6.96484 6.66016 7.55859 6.66016 8.21484C6.66016 8.94141 7.21875 9.46484 7.91016 9.46484ZM12.9102 4.46484C12.2187 4.46484 11.6602 5.05977 11.6602 5.71484C11.6602 6.44141 12.2187 6.96484 12.9102 6.96484C13.6016 6.96484 14.1602 6.44141 14.1602 5.71484C14.1602 5.05977 13.6016 4.46484 12.9102 4.46484ZM17.9102 9.46484C18.6016 9.46484 19.1602 8.94141 19.1602 8.21484C19.1602 7.55859 18.6016 6.96484 17.9102 6.96484C17.2187 6.96484 16.6602 7.55859 16.6602 8.21484C16.6602 8.94141 17.2187 9.46484 17.9102 9.46484Z' fill='%2300B2F7'/%3E%3C/svg%3E%0A");
}

.js-list-item h3[data-mappedto="Category"][data-value="Theatre"]::before {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1843_2499)'%3E%3Cpath d='M9.37578 11.6593C8.25391 11.9874 7.49766 12.9499 7.57578 13.9781C7.93203 13.5781 8.47578 13.2343 9.13828 13.0124L9.37578 11.6593ZM5.90328 13.2156L4.91359 7.60931C4.90203 7.55931 4.92172 7.52806 4.92172 7.52806C6.72641 6.524 8.76859 5.99712 10.828 5.99712C10.8788 5.99712 10.9253 5.99945 10.976 5.99945C11.3854 5.57758 11.9682 5.28851 12.5892 5.18695C13.1788 5.0932 13.7804 5.04633 14.3782 5.02289C14.0658 4.58539 13.6135 4.26445 13.0707 4.17851C12.3248 4.05742 11.5738 3.99939 10.8279 3.99939C8.42978 3.99939 6.06541 4.6072 3.94978 5.78283C3.19206 6.20525 2.78975 7.07806 2.94206 7.95619L3.93422 13.5624C4.37953 16.0781 8.19359 17.9999 10.3248 17.9999C10.4381 17.9999 10.5366 17.9906 10.6383 17.9789C10.2164 17.4436 9.76016 16.7133 9.40391 15.8655C7.91328 15.4624 6.08828 14.2499 5.90328 13.2156ZM8.95391 8.92494C8.92891 8.79369 8.88203 8.67806 8.82578 8.56869C8.568 8.84603 8.18141 9.06087 7.72422 9.14275C7.26734 9.22087 6.82578 9.1545 6.48984 8.97872C6.47422 9.10372 6.47032 9.22866 6.49375 9.35747C6.61094 10.0372 7.25938 10.49 7.93906 10.369C8.61641 10.2531 9.07578 9.60306 8.95391 8.92494ZM21.8727 7.78119C19.0955 6.23806 15.8914 5.67556 12.7508 6.17556C11.8945 6.28431 11.2164 6.99525 11.0602 7.84681L10.0664 13.4843C9.58609 16.2071 13.0455 19.6187 15.0133 19.9624C16.9539 20.3102 21.4039 18.2849 21.8852 15.5624L22.8773 9.95306C23.032 9.07181 22.6289 8.19994 21.8727 7.78119ZM13.332 10.8062C13.4531 10.1265 14.1014 9.67337 14.7811 9.79462C15.4608 9.91181 15.9139 10.5599 15.7967 11.2359C15.7733 11.3648 15.7264 11.4819 15.6678 11.5952C15.41 11.314 15.0234 11.1031 14.5663 11.0212C14.1053 10.9392 13.6678 11.0094 13.3319 11.1813C13.2883 11.0593 13.3133 10.9343 13.332 10.8062ZM15.507 17.0156C13.7689 16.707 12.5855 15.1646 12.7261 13.5124C13.3705 14.3134 14.4839 14.9574 15.8352 15.1959C17.1867 15.4342 18.452 15.2077 19.332 14.6765C18.9164 16.2718 17.2758 17.3218 15.507 17.0156ZM19.6102 12.2874C19.3524 12.0101 18.9617 11.7952 18.5048 11.7134C18.048 11.6352 17.6105 11.7016 17.2705 11.8774C17.2548 11.7524 17.2509 11.6275 17.2744 11.4987C17.3955 10.819 18.0438 10.3658 18.7234 10.4871C19.4031 10.6082 19.8563 11.2524 19.735 11.9321C19.7102 12.0593 19.6633 12.1781 19.6102 12.2874Z' fill='%2300B2F7'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1843_2499'%3E%3Crect width='20' height='16' fill='white' transform='translate(2.91016 4)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.js-list-item h3[data-mappedto="Category"][data-value="Coding & Tech"]::before {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1843_2522)'%3E%3Cpath d='M6.45273 6.49999H19.6527V15.3H21.8527V5.94999C21.8527 5.04352 21.1102 4.29999 20.2027 4.29999H5.90273C4.99627 4.29999 4.25273 5.04352 4.25273 5.94999V15.3H6.45273V6.49999ZM23.5027 16.4H2.60273C2.30195 16.4 2.05273 16.6509 2.05273 16.95V17.5C2.05273 18.7117 3.04102 19.7 4.25273 19.7H21.8527C23.0645 19.7 24.0527 18.7117 24.0527 17.5V16.95C24.0527 16.6509 23.8052 16.4 23.5027 16.4ZM14.6305 13.0381C14.7646 13.1722 14.9399 13.2375 15.1152 13.2375C15.2905 13.2375 15.4669 13.1708 15.6013 13.0367L17.2513 11.3867C17.5198 11.1183 17.5198 10.6821 17.2513 10.4136L15.6013 8.76358C15.3328 8.49511 14.8976 8.49511 14.6292 8.76358C14.3607 9.03205 14.3607 9.46827 14.6292 9.73674L15.7931 10.9L14.6292 12.0632C14.359 12.3334 14.359 12.77 14.6305 13.0381V13.0381ZM11.4749 8.7653C11.2065 8.49683 10.7713 8.49683 10.5028 8.7653L8.8528 10.4153C8.58433 10.6838 8.58433 11.12 8.8528 11.3885L10.5028 13.0385C10.6396 13.1722 10.8149 13.2375 10.9902 13.2375C11.1655 13.2375 11.3419 13.1708 11.4763 13.0367C11.7448 12.7683 11.7448 12.3321 11.4763 12.0636L10.313 10.9L11.477 9.73674C11.7155 9.46999 11.7155 9.03343 11.4749 8.7653V8.7653Z' fill='%2300B2F7'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1843_2522'%3E%3Crect width='24' height='24' fill='white' transform='translate(0.910156)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.js-list-item h3[data-mappedto="Category"][data-value="English"]::before {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.6602 15.125V3.875C21.6602 2.83945 20.8203 2 19.7852 2H7.91016C5.83906 2 4.16016 3.67891 4.16016 5.75V18.25C4.16016 20.3211 5.83906 22 7.91016 22H20.4102C21.1004 22 21.6602 21.4402 21.6602 20.7852C21.6602 20.3273 21.402 19.9445 21.0352 19.7266V16.5484C21.418 16.1719 21.6602 15.6797 21.6602 15.125V15.125ZM9.75 7H17.25C17.6289 7 17.9102 7.28125 17.9102 7.625C17.9102 7.96875 17.6289 8.25 17.2852 8.25H9.75C9.44141 8.25 9.16016 7.96875 9.16016 7.625C9.16016 7.28125 9.44141 7 9.75 7ZM9.75 9.5H17.25C17.6289 9.5 17.9102 9.78125 17.9102 10.125C17.9102 10.4688 17.6289 10.75 17.2852 10.75H9.75C9.44141 10.75 9.16016 10.4688 9.16016 10.125C9.16016 9.78125 9.44141 9.5 9.75 9.5ZM19.1602 19.5H7.91016C7.21992 19.5 6.66016 18.9402 6.66016 18.25C6.66016 17.5598 7.21992 17 7.91016 17H19.1602V19.5Z' fill='%2300B2F7'/%3E%3C/svg%3E%0A");
}

.js-list-item h3[data-mappedto="Category"][data-value="Health & Wellness"]::before {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.426 11.0238L13.4794 14.9108C13.2446 15.3795 12.5648 15.3647 12.3496 14.8865L10.1248 9.9499L8.95094 12.7528L5.11866 12.7509L12.0097 19.8685C12.5043 20.3791 13.3129 20.3791 13.8079 19.8685L20.699 12.7509H16.3198L15.426 11.0242V11.0238ZM21.0045 3.95538C18.8809 2.1201 15.633 2.45137 13.6798 4.46556L12.9102 5.25976L12.1406 4.46556C10.1873 2.45137 6.94104 2.1201 4.8163 3.95538C2.5724 5.89456 2.31731 9.21899 4.01038 11.5004H8.11221L9.51582 8.13103C9.73107 7.62787 10.4401 7.6185 10.6698 8.11619L12.9438 13.1712L14.8607 9.34283C15.0904 8.88381 15.7506 8.88381 15.9807 9.34283L17.0616 11.5012H21.808C23.5046 9.21899 23.2468 5.89456 21.0045 3.95538V3.95538Z' fill='%2300B2F7'/%3E%3C/svg%3E%0A");
}

.js-list-item h3[data-mappedto="Category"][data-value="Life Skills"]::before {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.7461 6.66954C22.6326 6.20338 22.0317 6.0476 21.6875 6.38653L18.6908 9.33854H15.4376V6.13474L18.4343 3.18274C18.7784 2.84381 18.6203 2.25194 18.147 2.14013C17.2196 1.92073 16.2154 1.90454 15.1749 2.14977C12.7692 2.71657 10.8921 4.7293 10.5084 7.13533C10.3048 8.13514 10.4027 9.13379 10.7081 10.0361L3.73579 16.9029C2.63495 17.9871 2.63495 19.7442 3.73579 20.8281C4.25098 21.3717 4.9713 21.6764 5.65796 21.6764C6.34462 21.6764 7.10018 21.4053 7.65099 20.8632L14.6233 13.996C15.5417 14.2944 16.5537 14.3908 17.6052 14.2273C20.0484 13.8479 22.0916 11.9987 22.667 9.63119C22.9849 8.57046 22.9693 7.58337 22.7461 6.66954ZM6.00638 19.5171C5.48767 19.5171 5.06683 19.1026 5.06683 18.5917C5.06683 18.0808 5.48767 17.6663 6.00638 17.6663C6.52509 17.6663 6.94593 18.0804 6.94593 18.5917C6.94593 19.103 6.52509 19.5171 6.00638 19.5171Z' fill='%2300B2F7'/%3E%3C/svg%3E%0A");
}

.js-list-item h3[data-mappedto="Category"][data-value="Life Sciences"]::before {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.16016 15.1471H9.62891V15.7721C9.62891 16.1188 9.90723 16.3971 10.2539 16.3971H11.8164C12.1631 16.3971 12.4414 16.1188 12.4414 15.7721V15.1471H12.9102C13.5984 15.1471 14.1602 14.5854 14.1602 13.8971V5.14709C14.1602 4.45881 13.5984 3.89709 12.9102 3.89709V3.27209C12.9102 2.92542 12.6328 2.64709 12.2852 2.64709H9.78516C9.4375 2.64709 9.16016 2.92542 9.16016 3.27209V3.89709C8.47266 3.89709 7.91016 4.45881 7.91016 5.14709V13.8971C7.91016 14.5846 8.47266 15.1471 9.16016 15.1471ZM21.0352 20.1471H20.9863C22.1758 18.819 22.9102 17.069 22.9102 15.1471C22.9102 11.0104 19.5457 7.64709 15.4102 7.64709V10.1471C18.1691 10.1471 20.4102 12.3885 20.4102 15.1471C20.4102 17.9057 18.1688 20.1471 15.4102 20.1471H4.78516C3.75 20.1471 2.91016 20.9869 2.91016 22.0221C2.91016 22.3698 3.18848 22.6471 3.53516 22.6471H22.2852C22.6318 22.6471 22.9102 22.3688 22.9102 22.0221C22.9102 20.9869 22.0703 20.1471 21.0352 20.1471ZM6.97266 18.8971H15.0977C15.2686 18.8971 15.4102 18.7555 15.4102 18.5846V17.9596C15.4102 17.7887 15.2686 17.6471 15.0977 17.6471H6.97266C6.80195 17.6471 6.66016 17.7877 6.66016 17.9596V18.5846C6.66016 18.7565 6.80195 18.8971 6.97266 18.8971Z' fill='%2300B2F7'/%3E%3C/svg%3E%0A");
}
.js-list-item h3[data-mappedto="Category"][data-value="Math"]::before {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5352 2.64709H7.28516C6.28437 2.64709 5.41016 3.52131 5.41016 4.52209V20.7721C5.41016 21.7721 6.28437 22.6471 7.28516 22.6471H18.5352C19.5359 22.6471 20.4102 21.7729 20.4102 20.7721V4.52209C20.4102 3.52131 19.5352 2.64709 18.5352 2.64709ZM7.91016 10.7721C7.91016 10.4283 8.19141 10.1471 8.53516 10.1471H9.78516C10.1289 10.1471 10.4102 10.4283 10.4102 10.7721V12.0221C10.4102 12.3658 10.1289 12.6471 9.78516 12.6471H8.53516C8.19141 12.6471 7.91016 12.3658 7.91016 12.0221V10.7721ZM7.91016 14.5221C7.91016 14.1783 8.19141 13.8971 8.53516 13.8971H9.78516C10.1289 13.8971 10.4102 14.1783 10.4102 14.5221V15.7721C10.4102 16.1158 10.1289 16.3971 9.78516 16.3971H8.53516C8.19141 16.3971 7.91016 16.1158 7.91016 15.7721V14.5221ZM14.1602 19.5221C14.1602 19.8658 13.8789 20.1471 13.5352 20.1471H8.53516C8.19141 20.1471 7.91016 19.8658 7.91016 19.5221V18.2721C7.91016 17.9283 8.19141 17.6471 8.53516 17.6471H13.5352C13.8789 17.6471 14.1602 17.9283 14.1602 18.2721V19.5221ZM14.1602 15.7721C14.1602 16.1158 13.8789 16.3971 13.5352 16.3971H12.2852C11.9414 16.3971 11.6602 16.1158 11.6602 15.7721V14.5221C11.6602 14.1783 11.9414 13.8971 12.2852 13.8971H13.5352C13.8789 13.8971 14.1602 14.1783 14.1602 14.5221V15.7721ZM14.1602 12.0221C14.1602 12.3658 13.8789 12.6471 13.5352 12.6471H12.2852C11.9414 12.6471 11.6602 12.3658 11.6602 12.0221V10.7721C11.6602 10.4283 11.9414 10.1471 12.2852 10.1471H13.5352C13.8789 10.1471 14.1602 10.4283 14.1602 10.7721V12.0221ZM17.9102 19.5221C17.9102 19.8658 17.6289 20.1471 17.2852 20.1471H16.0352C15.6914 20.1471 15.4102 19.8658 15.4102 19.5221V18.2721C15.4102 17.9283 15.6914 17.6471 16.0352 17.6471H17.2852C17.6289 17.6471 17.9102 17.9283 17.9102 18.2721V19.5221ZM17.9102 15.7721C17.9102 16.1158 17.6289 16.3971 17.2852 16.3971H16.0352C15.6914 16.3971 15.4102 16.1158 15.4102 15.7721V14.5221C15.4102 14.1783 15.6914 13.8971 16.0352 13.8971H17.2852C17.6289 13.8971 17.9102 14.1783 17.9102 14.5221V15.7721ZM17.9102 12.0221C17.9102 12.3658 17.6289 12.6471 17.2852 12.6471H16.0352C15.6914 12.6471 15.4102 12.3658 15.4102 12.0221V10.7721C15.4102 10.4283 15.6914 10.1471 16.0352 10.1471H17.2852C17.6289 10.1471 17.9102 10.4283 17.9102 10.7721V12.0221ZM17.9102 8.27209C17.9102 8.61584 17.6289 8.89709 17.2852 8.89709H8.53516C8.19141 8.89709 7.91016 8.61584 7.91016 8.27209V5.77209C7.91016 5.42834 8.19141 5.14709 8.53516 5.14709H17.2852C17.6289 5.14709 17.9102 5.42834 17.9102 5.77209V8.27209Z' fill='%2300B2F7'/%3E%3C/svg%3E%0A");
}

.js-list-item h3[data-mappedto="Category"][data-value="Music"]::before {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.875 16.9869C22.875 18.7127 21.1961 20.1119 19.1602 20.1119C17.1242 20.1119 15.4453 18.7127 15.4453 17.0221C15.4453 15.2963 17.1242 13.9323 19.1602 13.9323C19.6008 13.9323 20.0176 14.0073 20.4105 14.1236V8.43225L10.4102 11.3971L10.4101 19.526C10.375 21.2487 8.73047 22.6471 6.625 22.6471C4.51953 22.6471 2.91016 21.2487 2.91016 19.5221C2.91016 17.7963 4.58906 16.4323 6.625 16.4323C7.06562 16.4323 7.48242 16.5073 7.875 16.6236V7.5885C7.875 7.08186 8.26797 6.54827 8.75039 6.39631L21.2152 2.7053C21.3516 2.67293 21.5547 2.64709 21.6602 2.64709C22.35 2.64709 22.909 3.20725 22.9102 3.8967L22.875 16.9869Z' fill='%2300B2F7'/%3E%3C/svg%3E%0A");
}

.js-list-item h3[data-mappedto="Category"][data-value="Science & Nature"]::before {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9099 11.3971C12.2224 11.3971 11.6248 11.9596 11.6248 12.6471C11.6248 13.3346 12.2224 13.8971 12.9099 13.8971C13.5974 13.8971 14.1599 13.3354 14.1599 12.6471C14.1599 11.9588 13.5974 11.3971 12.9099 11.3971ZM21.2771 7.64709C20.8521 6.88538 19.6947 5.66467 16.7341 6.01116C15.8943 4.00959 14.613 2.64709 12.9099 2.64709C11.2068 2.64709 9.92555 4.00959 9.08571 6.01116C6.12634 5.66975 4.96891 6.88538 4.54391 7.64709C3.90407 8.79475 3.96149 10.5033 5.52946 12.6471C3.96188 14.7908 3.90407 16.4998 4.54391 17.6471C5.6818 19.6932 8.51266 19.3514 9.08688 19.283C9.92555 21.2838 11.2068 22.6471 12.9099 22.6471C14.613 22.6471 15.8939 21.2846 16.7341 19.2826C17.3045 19.3502 20.1365 19.694 21.2771 17.6471C21.9169 16.4994 21.8595 14.7905 20.2916 12.6471C21.8591 10.5026 21.9138 8.79553 21.2771 7.64709ZM6.63415 16.3971C6.4779 16.1139 6.62907 15.4303 7.22008 14.5123C7.48883 14.7662 7.77204 15.0151 8.07477 15.2592C8.13805 15.7963 8.23102 16.319 8.33844 16.8268C7.37477 16.8619 6.78063 16.6549 6.63415 16.3971ZM8.07399 10.0338C7.77321 10.2799 7.48805 10.5299 7.21852 10.7799C6.62946 9.86584 6.4779 9.17834 6.63415 8.89709C6.76618 8.65803 7.27399 8.44788 8.11383 8.44788C8.18219 8.44788 8.2654 8.46272 8.33844 8.46272C8.22633 8.98303 8.13649 9.50647 8.07399 10.0338ZM12.9099 5.14709C13.281 5.14709 13.7791 5.67444 14.2334 6.60217C13.7927 6.74866 13.3552 6.91663 12.9099 7.10413C12.4646 6.91663 12.0271 6.74866 11.5857 6.60022C12.0388 5.67444 12.5388 5.14709 12.9099 5.14709ZM12.9099 20.1471C12.5388 20.1471 12.0408 19.6198 11.5865 18.692C12.0271 18.5455 12.4646 18.3776 12.9099 18.1901C13.3545 18.3807 13.7939 18.5471 14.2334 18.6936C13.781 19.6198 13.281 20.1471 12.9099 20.1471ZM12.9099 15.7721C11.1861 15.7721 9.78414 14.3705 9.78414 12.6471C9.78414 10.9237 11.1873 9.52209 12.9099 9.52209C14.6326 9.52209 16.0357 10.9237 16.0357 12.6471C16.0357 14.3705 14.6326 15.7721 12.9099 15.7721ZM19.1873 16.3971C19.0455 16.6557 18.4451 16.8612 17.483 16.8268C17.5904 16.3541 17.6834 15.7963 17.7466 15.2592C18.0494 15.0151 18.3326 14.7658 18.6013 14.5123C19.1912 15.4283 19.3435 16.1158 19.1873 16.3971ZM18.6013 10.7799C18.3326 10.526 18.0494 10.2772 17.7466 10.033C17.6834 9.50569 17.5951 8.98303 17.483 8.46077C17.5564 8.46077 17.6392 8.44592 17.7076 8.44592C18.5474 8.44592 19.0556 8.65608 19.1873 8.89514C19.3435 9.17795 19.1912 9.86624 18.6013 10.7799Z' fill='%2300B2F7'/%3E%3C/svg%3E%0A");
}

.js-list-item h3[data-mappedto="Category"][data-value="Social Studies"]::before {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.9102 12.6471C22.9102 18.1705 18.4336 22.6471 12.9102 22.6471C7.38672 22.6471 2.91016 18.1705 2.91016 12.6471C2.91016 7.12366 7.38672 2.64709 12.9102 2.64709C18.4336 2.64709 22.9102 7.12366 22.9102 12.6471ZM4.92891 14.1744L6.16836 14.4244C6.47539 14.4869 6.79336 14.3893 7.01562 14.1666L7.61719 13.5651C8.06641 13.0807 8.83203 13.2369 9.11719 13.8112L9.48047 14.5338C9.63281 14.9088 10.0508 15.1119 10.4688 15.1119C11.0625 15.1119 11.4883 14.5768 11.3164 14.0065L11.0859 13.2291C10.9023 12.6276 11.3555 12.0221 11.9844 12.0221H12.0742C12.5625 12.0221 13.0859 11.7604 13.375 11.3268L13.793 10.6979C14.0117 10.3698 14 9.93616 13.7617 9.61584L13.1328 8.776C12.7305 8.24084 13.0039 7.46741 13.6563 7.30334L14.3203 7.10413C14.6133 7.06506 14.8516 6.85803 14.9648 6.57678L15.6016 4.97874C14.7617 4.68303 13.8555 4.52209 12.875 4.52209C8.42188 4.52209 4.75 8.15881 4.75 12.6471C4.75 13.1705 4.83438 13.6823 4.92891 14.1744V14.1744ZM20.5039 14.3815L19.8867 14.5573C19.625 14.6276 19.3477 14.5221 19.2031 14.2955L19.125 14.1744C18.8906 13.8073 18.4844 13.5494 18.0469 13.5494C17.6094 13.5494 17.1719 13.8073 16.9687 14.1744L16.7305 14.5455C16.6758 14.6315 16.6016 14.7057 16.5117 14.7213L15.0625 15.5416C14.3906 15.9362 14.1016 16.8073 14.3984 17.5455L14.6484 18.0299C14.9844 18.7799 15.8477 19.1432 16.5859 18.8541L16.7188 18.7838C17.1133 18.6705 17.5508 18.733 17.8906 18.9791L17.9492 19.0221C19.4023 17.8698 20.4531 16.233 20.8555 14.3541C20.7383 14.3424 20.6211 14.3502 20.5039 14.3815V14.3815ZM9.00781 17.0026L10.2578 17.3151C10.5938 17.401 10.9336 17.1979 11.0156 16.8619C11.1016 16.526 10.8984 16.1862 10.5625 16.1041L9.3125 15.7916C8.97656 15.7057 8.63672 15.9088 8.55469 16.2448C8.46875 16.5807 8.67188 16.9205 9.00781 17.0026ZM12.1484 15.4635C12.0625 15.7994 12.2656 16.1393 12.6016 16.2213C12.9375 16.3073 13.2773 16.1041 13.3594 15.7682L13.6719 14.5182C13.7578 14.1823 13.5547 13.8424 13.2187 13.7604C12.8828 13.6744 12.543 13.8776 12.4609 14.2135L12.1484 15.4635V15.4635ZM15.4766 7.36584L14.8516 8.61584C14.6953 8.92444 14.8203 9.30334 15.1289 9.45569C15.4375 9.61194 15.8164 9.48694 15.9687 9.17834L16.5937 7.92834C16.75 7.61975 16.625 7.24084 16.3164 7.0885C16.0078 6.93225 15.6289 7.05725 15.4766 7.36584Z' fill='%2300B2F7'/%3E%3C/svg%3E%0A");
}

.js-list-item h3[data-mappedto="Category"][data-value="World Languages"]::before {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.9102 9.77209C17.2539 9.77209 17.5352 10.0252 17.5352 10.3971V10.5221H19.4102C19.7539 10.5221 20.0352 10.7752 20.0352 11.1471C20.0352 11.4908 19.7539 11.7721 19.4102 11.7721H19.3477L19.2977 11.9127C19.0195 12.6502 18.5945 13.369 18.057 13.9565C18.0852 13.9721 18.1133 13.9627 18.1414 14.0065L18.732 14.3596C19.0289 14.5377 19.1227 14.9221 18.9445 15.219C18.7695 15.5158 18.3852 15.6096 18.0883 15.4315L17.4977 15.0783C17.3602 14.994 17.1945 14.9065 17.0883 14.8127C16.7602 15.0471 16.4039 15.2502 16.0289 15.419L15.9133 15.469C15.5977 15.6096 15.2289 15.4658 15.0883 15.1502C14.9477 14.8346 15.0914 14.4658 15.407 14.3252L15.5195 14.2752C15.7195 14.1846 15.9133 14.0565 16.0977 13.969L15.7195 13.5877C15.4727 13.344 15.4727 12.9502 15.7195 12.7065C15.9633 12.4596 16.357 12.4596 16.6008 12.7065L17.057 13.1596L17.0758 13.1502C17.4633 12.769 17.7789 12.294 18.007 11.744H14.6602C14.2883 11.744 14.0352 11.4908 14.0352 11.119C14.0352 10.7752 14.2883 10.494 14.6602 10.494H16.2852V10.369C16.2852 10.0252 16.5383 9.74397 16.9102 9.74397V9.77209V9.77209ZM7.91016 11.9346L8.50391 13.2721H7.28828L7.91016 11.9346ZM2.91016 8.64709C2.91016 7.54241 3.80547 6.64709 4.91016 6.64709H20.9102C22.0133 6.64709 22.9102 7.54241 22.9102 8.64709V16.6471C22.9102 17.7502 22.0133 18.6471 20.9102 18.6471H4.91016C3.80547 18.6471 2.91016 17.7502 2.91016 16.6471V8.64709ZM12.9102 16.6471H20.9102V8.64709H12.9102V16.6471ZM8.48203 10.144C8.38203 9.91897 8.15703 9.77209 7.91016 9.77209C7.66328 9.77209 7.43828 9.91897 7.33828 10.144L5.33891 14.644C5.19891 14.9315 5.34078 15.3283 5.65641 15.469C5.97172 15.6096 6.34141 15.4658 6.48203 15.1502L6.76016 14.494H9.06016L9.33828 15.1502C9.47891 15.4658 9.84766 15.6096 10.1633 15.469C10.4789 15.3283 10.6227 14.9315 10.482 14.644L8.48203 10.144Z' fill='%2300B2F7'/%3E%3C/svg%3E%0A");
}


/* Mobile filter holder */
.mobile-filter-holder {
    display: none;
}
@media screen and (max-width: 992px) {
    .mobile-filter-holder {
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        right: 0;
        bottom: 0;
        z-index: 9;
        padding: 12px;
    }

    .mobile-filter-holder .mobile-title {
        display: none; 
    }
    body.filter-menu-toggled {
        overflow: hidden;
    }
    body.filter-menu-toggled .mobile-filter-holder {
        display: block;
    }
    .toggle-button-filter {
        width: 60px;
        height: 60px !important;
        margin-left: 20px;
        border: 2px solid #7174A0;
        color: #7174A0;
        border-radius: 18px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .js-toggle-modal-btn.active {
        border-color: #00B2F7;
        color: #00B2F7;
    }
    .btn-inner-modal {
        background: #EAECF5;
        padding: 12px 18px;
        border-radius: 30px;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #2C2A50;
        cursor: pointer;
        margin-bottom: 28px;
        display: inline-flex;
    }
    .btn-inner-modal.-backbtn {
        padding-left: 45px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00481 12.012C9.00284 12.2705 9.10046 12.5296 9.29767 12.7268L13.2928 16.722C13.6833 17.1125 14.3165 17.1125 14.707 16.722C15.0976 16.3314 15.0976 15.6983 14.707 15.3077L11.4113 12.012L14.707 8.71627C15.0976 8.32574 15.0976 7.69258 14.707 7.30206C14.3165 6.91153 13.6833 6.91153 13.2928 7.30206L9.29767 11.2972C9.10045 11.4944 9.00283 11.7535 9.00481 12.012Z' fill='%232C2A50'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: 10px center;
    }
    .clear-button-holder {
        text-align: center;
        margin-top: 24px;
    }
    header#hero2 .container .row {
        text-align: center;
        justify-content: center;
        flex-direction: column!important;
    }
}